<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body data-ng-app="quotesApp">
  <h1>Aswesome Quotes:</h1>
  <main data-ng-controller="quotesController" data-ng-init="getAll()"> <!-- init says run this function as soon as it's loaded onto the page. -->
    <form name="newQuoteForm" data-ng-submit="create(newQuote)">
      <label for="newQuoteBody">Insert Quote:</label>
      <input type="text" required name="newQuoteBody" data-ng-model="newQuote.quoteBody">

      <button type="submit" data-ng-disabled="newQuoteForm.$invalid">Create New Quote</button> <!-- buttons inside form are default submit. But better to be explicit -->
    </form>

    <ul id="quoteslist">
      <li data-ng-repeat="quote in quotes">
        {{quote.quoteBody}}
        <form data-ng-if="quote.editing" name="{{quote._id}}form" data-ng-submit="update(quote)"> <!-- Careful when using ng-if in Angular. It doesn't work in all cases. -->
          <input type="text" data-ng-model="quote.quoteBody">
          <button type="submit">Save</button>
          <button data-ng-click="cancelEdit(quote)">Cancel</button>
        </form>
        <button data-ng-if="!quote.editing" data-ng-click="edit(quote)">Edit</button>
        <button data-ng-click="destroy(quote)">Delete</button>
      </li> <!-- We want this on li not ul otherwise will create ul for each quote -->
    </ul>
  </main>

  <script src="bundle.js"></script>
</body>
</html>
